{% extends "PSCoreBundle::layout.html.twig" %}

{% block content %}


{% set count_step = 1 %}
    
   
{% for message in app.session.flashbag.get('error') %}
    <div class="row">
    <div class="alert col-lg-6 alert-danger">
        <strong>{{ message }}</strong>
    </div>
    </div>
 {% endfor %}
    
    
<div class="wizard">
    {{ include( incl_f_wizard_presentation ) }}
     
    {{ form_start(form) }}
    {# General errors of the form #}
    {{ form_errors(form) }}
    <div class="tab-content">
        
        {# Patient #}
        <div class="tab-pane active" role="tabpanel" id="{{ 'step' ~ count_step }}">
            <div class="{{ 'step' ~ count_step }}">
                {{ include( incl_f_add_patient_form ) }}
            </div>
            
            {{ include( templ_f_next_previous_button, {'next':'next'} ) }}
        </div>
        {% set count_step = count_step + 1 %}

        {# Mother #}
        <div class="tab-pane" role="tabpanel" id="{{ 'step' ~ count_step }}">
            <div class="{{ 'step' ~ count_step }}">
                {{ include( templ_f_create_or_select_form, {'person_type' : person_type_list.mother} ) }}
            </div>
    
            {{ include( templ_f_next_previous_button, {'previous':'previous','next':'next'} ) }}
        </div>
        {% set count_step = count_step + 1 %}
           
        {# Father #}
        <div class="tab-pane" role="tabpanel" id="{{ 'step' ~ count_step }}">
            <div class="{{ 'step' ~ count_step }}">
                {{ include( templ_f_create_or_select_form, {'person_type' : person_type_list.father} ) }}
            </div>
    
            {{ include( templ_f_next_previous_button, {'previous':'previous','next':'next'} ) }}
        </div>
        {% set count_step = count_step + 1 %}

        
        {# Address #}
        <div class="tab-pane" role="tabpanel" id="complete">
            <div class="complete">
                {{ include( incl_f_add_address_form ) }}
            </div>
            <div class="form-group">

                <ul class="list-inline pull-right">
                    <li>{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-lg'}}) }}<li>
                </ul>
                {{ include( templ_f_next_previous_button, {'previous':'previous'} ) }}

                {{ form_rest(form) }}
            </div>
         </div>
                
    </div>
            
    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
</div>
                

{% endblock %}

