{% extends "PSCustomerBundle::layout.html.twig" %}

{% block body %}

<div class="container">

    
{% for message in app.session.flashbag.get('error') %}
    <div class="row">
    <div class="alert col-lg-6 alert-danger">
        <strong>{{ message }}</strong>
    </div>
    </div>
 {% endfor %}
    
    
<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
            <p>patient.info</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
            <p>mother.info</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
            <p>father.info</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
            <p>save</p>
        </div>
    </div>
</div>
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
  {# General errors of the form #}
  {{ form_errors(form) }}
    <div class="row setup-content" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-12">
                <h3> Patient Info </h3>
                <div class="form-group">
                   {{ form_row(form.name) }}
                   {{ form_row(form.surname) }}
                   {{ form_row(form.sex) }}
                   {{ form_row(form.birthday) }}
                   {{ form_row(form.codeSiblings) }}
                   {{ form_row(form.comment) }}
                   
                </div>
                
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-12">
                <h3> Step 2</h3>
                <div class="form-group">
 
                    
                    
                    
                    
                    
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Select Existing Mother
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                  {{ form_row(form.mother) }}
                </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Create New Mother
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    {{ form_row(form.motherNew) }}
                  </div>
                </div>
              </div>
            </div>
                    
                                    
                </div>
                <button class="btn btn-primary prevBtn btn-lg pull-left" type="button" >Previous</button>
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12">
                <h3> Step 3</h3>
                <div class="form-group">
                    {{ form_row(form.father) }}
                </div>
                <button class="btn btn-primary prevBtn btn-lg pull-left" type="button" >Previous</button>
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-4">
        <div class="col-xs-12">
            <div class="col-md-12">
                <h3> Step 4</h3>
                <div class="form-group">
                    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button" >Previous</button>
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-lg pull-right'}}) }}

                    {{ form_rest(form) }}
                </div>
            </div>
        </div>
    </div>

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>
{% endblock %}

