{% extends "PSCoreBundle::layout.html.twig" %}

{% block content %}

{% set person_type_list = {patient:'patient', mother:'mother', father:'father'} %}
{% set add_template_dir_path = 'PSCustomerBundle:Patient:add_include' %}
{% set add_create_or_select_template_dir_path = add_template_dir_path ~ '/addCreateOrSelectForm.html.twig' %}
{% set add_button_template_dir_path = add_template_dir_path ~ '/addButtonForm.html.twig' %}

{% set count_step = 1 %}
    
   
{% for message in app.session.flashbag.get('error') %}
    <div class="row">
    <div class="alert col-lg-6 alert-danger">
        <strong>{{ message }}</strong>
    </div>
    </div>
 {% endfor %}
    
    
<div class="wizard">
    {{ include( add_template_dir_path ~ '/wizardPresentation.html.twig' ) }}
     
    {{ form_start(form) }}
    {# General errors of the form #}
    {{ form_errors(form) }}
    <div class="tab-content">
        
        {# Patient #}
        <div class="tab-pane active" role="tabpanel" id="{{ 'step' ~ count_step }}">
            <div class="{{ 'step' ~ count_step }}">
                {{ include( add_template_dir_path ~ '/addPatientForm.html.twig' ) }}
            </div>
            
            {{ include( add_button_template_dir_path, {'next':'next'} ) }}
        </div>
        {% set count_step = count_step + 1 %}

        {# Mother #}
        <div class="tab-pane" role="tabpanel" id="{{ 'step' ~ count_step }}">
            <div class="{{ 'step' ~ count_step }}">
                {{ include( add_create_or_select_template_dir_path, {'person_type' : person_type_list.mother} ) }}
            </div>
    
            {{ include( add_button_template_dir_path, {'previous':'previous','next':'next'} ) }}
        </div>
        {% set count_step = count_step + 1 %}
        
        {# Mother Address #}
        <div class="tab-pane" role="tabpanel" id="{{ 'step' ~ count_step }}">
            <div class="{{ 'step' ~ count_step }}">
                {{ include( add_create_or_select_template_dir_path, {'person_type' : person_type_list.mother, suffixe : '_address'} ) }}
            </div>
    
            {{ include( add_button_template_dir_path, {'previous':'previous','next':'next'} ) }}
        </div>
        {% set count_step = count_step + 1 %}
           
        {# Father #}
        <div class="tab-pane" role="tabpanel" id="{{ 'step' ~ count_step }}">
            <div class="{{ 'step' ~ count_step }}">
                {{ include( add_create_or_select_template_dir_path, {'person_type' : person_type_list.father} ) }}
            </div>
    
            {{ include( add_button_template_dir_path, {'previous':'previous','next':'next'} ) }}
        </div>
        {% set count_step = count_step + 1 %}

        
        {# Summary #}
        <div class="tab-pane" role="tabpanel" id="complete">
            <div class="complete">
                {{ include( add_template_dir_path ~ '/addSummaryForm.html.twig' ) }}
            </div>
            <div class="form-group">

                <ul class="list-inline pull-right">
                    <li>{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-lg'}}) }}<li>
                </ul>
                {{ include( add_button_template_dir_path, {'previous':'previous'} ) }}

                {{ form_rest(form) }}
            </div>
         </div>
                
    </div>
            
    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
</div>
                

{% endblock %}

