{% extends "PSCoreBundle::layout.html.twig" %}

{% block content %}
    
    {% if listPatients is defined and listPatients|length %}
        {% set person_type_list = {patient:'patient', mother:'mother', father:'father'} %}
        {% set table_template_dir_path = 'PSCustomerBundle:Patient:person_table_template' %}
        {% set table_content_template_dir_path = table_template_dir_path ~ '/content_template.html.twig' %}
        
        <table id="listPatients" class="table table-striped table-bordered display responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    {{ include( table_template_dir_path ~ '/full_head_template.html.twig' ) }}
                </tr>
            </thead>
            <tfoot>
                <tr>
                    {{ include( table_template_dir_path ~ '/full_head_template.html.twig' ) }}
                </tr>
            </tfoot>
            <tbody>
                {% for patient in listPatients %}
           
                    <tr>
                        
                        <td>{{ patient.id }}</td>    
                        {{ include( table_template_dir_path ~ '/content_icons_template.html.twig', {'person' : patient, 'person_type' : person_type_list.patient} ) }}    
                        {{ include( table_content_template_dir_path, {'person' : patient, 'person_type' : person_type_list.patient, 'showID' :false} ) }}  
                        {{ include( table_content_template_dir_path, {'person' : patient.mother, 'person_type' : person_type_list.mother, 'showID' :true} ) }} 
                        {{ include( table_content_template_dir_path, {'person' : patient.father, 'person_type' : person_type_list.father, 'showID' :true} ) }} 
                        

                    </tr>
                 {% endfor %}
            </tbody>
        </table>
                
    {% else %}
        Pas encore de patient    
    {% endif %}
    
{% endblock %}