{% extends "PSCoreBundle::layout.html.twig" %}

        

{% block content %}
    <section class="row">
        <aside class="col-md-12">
            <nav class="navbar navbar-default custom-navbar-background">
                <div class="container-fluid">
                    <a class="btn btn-primary btn-lg navbar-btn" href="{{ path( 'ps_patient_edit', {'id': patient.id} ) }}">{{ 'edit'|trans }}</a>
                    <a class="btn btn-default btn-lg navbar-btn" >{{ 'delete'|trans }}</a>
                    <a class="btn btn-success btn-lg navbar-btn navbar-right" href="{{ path( 'ps_consultation_add_or_edit', {'patient_id': patient.id} ) }}">{{ 'new.consultation'|trans }}</a>
                </div>
            </nav>    
        </aside>
    </section>    
    <section class="row">
        
        {% set person_misc= {info : 'patient.info'} %}
        {{ include(templ_f_view_person, { 'person': patient, 'person_misc' : person_misc }) }}

        <article  class="col-md-6">
            <div class="panel panel-info">
                <table class="table table-striped table-bordered table-view-patient">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'patient.general.medical.info'|trans }}</h3>
                    </div>
                    <tbody>
                        <tr>
                            <th>{{ 'patient.personalDiseasesHistory' | trans }}</th>
                            <td>{{ patient.personalDiseasesHistory }}</th>
                        </tr>
                        <tr>
                            <th>{{ 'patient.familyDiseasesHistory' | trans }}</th>
                            <td>{{ patient.familyDiseasesHistory }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
                        
    </section>

    <section class="row">
        {% set person_misc= {info : 'mother.info', sex:  'female' } %}
        {{ include(templ_f_view_person, { 'person': patient.mother, 'person_misc' : person_misc }) }}
        
        {% set person_misc= {info : 'father.info', sex:  'male'} %}
        {{ include(templ_f_view_person, { 'person': patient.father, 'person_misc' : person_misc }) }}
    </section>
{% endblock %}