{% if showID  %} 
    <td>{{ person.id is defined ? person.id : "" }}</td>
{% endif %}

    <td>{{ person.name is defined ? person.name : ""}} </td>
    
    <td>{{ person.surname is defined ? person.surname : ""}}</td>
    
{% if person_type == 'patient' %}
    <td>{{ person.sex is not defined ?  "" : person.sex|trans }}</td>
{% endif %}

    <td>{{ (person.birthday is not defined or person.birthday is empty ) ? "" : patient.birthday |date("d/m/Y") }}</td>

    <td>
        {% if (person.age is defined) and ( person.age is not null) %}

            {{ 'person.age.years'|transchoice(person.age.y) }}
            {{ 'person.age.months'|transchoice(person.age.m) }}

            {% if person.age.y == 0 %}
                {{ 'person.age.days'|transchoice(person.age.d)  }}
            {% endif %} 
        {% endif %} 

    </td>

{% if person_type == 'patient' %}
    <td>{{ person.codeSiblings is defined ? person.codeSiblings : "" }}</td>
{% endif %}

    <td>{{ person.comment is defined ? person.comment : ""}}</td>