
{# {% do form.mother.setRendered %} #}



{% do attribute(form, person_type).setRendered %}

<div class="col-md-12">
    <h3> {{ 'mother.info'|trans }}</h3>
  
    {{ form_row(form.create_new_mother_cb) }}

        {% set person_type_list = {patient:'patient', mother:'mother', father:'father'} %}
        {% set table_template_dir_path = 'PSCustomerBundle:Patient:person_table_template' %}
        {% set table_content_template_dir_path = table_template_dir_path ~ '/content_template.html.twig' %}
        {% set table_head_template_dir_path = table_template_dir_path ~ '/head_template.html.twig' %}
    <div class="panel panel-primary"> 
        <table id="listMothers" class="table table-striped table-bordered display responsive nowrap" cellspacing="0" width="100%">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'select.existing.mother'|trans }} </h3>
            </div> 
            <thead>
                <tr>
                    <th></th>
                    {{ include( table_head_template_dir_path, {'person_type' : person_type_list.mother, 'showID' :true} ) }}
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    {{ include( table_head_template_dir_path, {'person_type' : person_type_list.mother, 'showID' :true} ) }}
                </tr>
            </tfoot>
            <tbody>
                {% for mother_choice in form.mother.vars.choices %}
                    {% set checked_opt = false %}
                    {% if mother_choice.value == form.mother.vars.value %}
                        {% set checked_opt = true %}
                    {% endif %}
                    <tr>
                        <td> <label><input type="radio" id="{{ "ps_customerbundle_patient_mother_#{mother_choice.value}"  }}" name="ps_customerbundle_patient[mother]" value="{{ mother_choice.value }}" {{ checked_opt? 'checked="checked"':'' }} /> </label> </td> 
                        {{ include( table_content_template_dir_path, {'person' : mother_choice.data, 'person_type' : person_type_list.mother, 'showID' :true} ) }}                       
                    </tr>
                 {% endfor %}
            </tbody>
        </table>
    </div>

            
        
    
    <fieldset id="fieldsetCNM" class="form-group">
        <legend>{{ 'create.new.mother'|trans }}</legend>
        {{ form_row(form.motherNew) }}
    </fieldset>

</div>