{% if showID  %} 
    <td>{{ person.id is defined ? person.id : "" }}</td>
{% endif %}

    <td>{{ person.name is defined ? person.name : ""}} </td>
    
    <td>{{ person.surname is defined ? person.surname : ""}}</td>
    
{% if person_type == 'patient' %}
    <td>{{ person.sex is not defined ?  "" : person.sex|trans }}</td>
{% endif %}

    <td>{{ (person.birthday is not defined or person.birthday is empty ) ? "" : person.birthday |date("d/m/Y") }}</td>

    <td>
        {% if (person.birthday is defined  and person.birthday is not null) %}
            {% if (person.age is null) %}
                {{ 'person.notBorn'|trans }}
            {% else %}

                {{ 'person.age.years'|transchoice(person.age.y) }}
                {{ 'person.age.months'|transchoice(person.age.m) }}

                {% if person.age.y == 0 %}
                    {{ 'person.age.days'|transchoice(person.age.d)  }}
                {% endif %} 
            {% endif %} 
        {% endif %} 

    </td>

{% if person_type == 'patient' %}
    <td>{{ person.codeSiblings is defined ? person.codeSiblings : "" }}</td>
{% endif %}

{% if person_type != 'patient' %}
    <td>{{ person.personalPhone is defined ? person.personalPhone : ""}}</td>
{% endif %}


    <td>{{ person.comment is defined ? person.comment : ""}}</td>
    
{% if person_type == 'patient' %}
    <td>{{ person.address is null ? "" : person.address.homePhone }}</td>
    
    <td>{{ person.address is null ? "" : person.address.homeFullAddress }} </td>
{% endif %}