<div class="col-md-12">
    <h3> {{ 'patient.info'|trans }} </h3>
    <div class="form-group">
        
       {{ form_row(form.name) }}
       {{ form_row(form.surname) }}
       {{ form_row(form.sex) }}
       {{ form_row(form.birthday) }}
       {{ form_row(form.codeSiblings) }}
       {{ form_row(form.comment) }}
    </div>
</div>