{% set count_step = 1 %}
{% set add_template_dir_path = 'PSCustomerBundle:Patient:add_include' %}
{% set add_wizard_step_template_dir_path = add_template_dir_path ~ '/wizardPresentationStep.html.twig' %}

<div class="wizard-inner">
    <div class="connecting-line"></div>
    <ul class="nav nav-tabs" role="tablist">

        {# Patient #}
        {{ include( add_wizard_step_template_dir_path, {'step_class' : 'active', 'step_title' : 'patient.info' } ) }}
        {% set count_step = count_step + 1 %}

        {# Mother #}
        {{ include( add_wizard_step_template_dir_path, {'step_title' : 'mother.info' } ) }}
        {% set count_step = count_step + 1 %}
        
        {# Mother Address #}
        {{ include( add_wizard_step_template_dir_path, {'step_title' : 'mother.address.info' } ) }}
        {% set count_step = count_step + 1 %}
        
        {# Father #}
        {{ include( add_wizard_step_template_dir_path, {'step_title' : 'father.info' } ) }}
        {% set count_step = count_step + 1 %}

        {# Summary #}
        {{ include( add_wizard_step_template_dir_path, {'step_title' : 'summary', 'step_number' : 'complete', 'glyphicon_type': 'ok' } ) }}

    </ul>
</div>
